{% extends 'base.html.twig' %}
    {% block body %}
        <link href="{{ asset('css/register.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
        <section class="register_section">
            <div class="container py-5 h-100">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="card card-registration my-4 d-flex ">
                            <div class="row ">
                                <div class="col">
                                    <img src="{{ asset('images/courses_appointment.jpg') }}"
                                         alt="Sample photo" class=" register_banner"
                                    />
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <div class="register_card card-body text-black d-flex justify-content-center align-items-center flex-column">
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            <h3 class="mb-5 text-center">Записатися на курс:</h3>
                                            <div class="row w-100">
                                                <form method="post" id='appointment_form'
                                                      action="{{ path('courses_appointment_save') }}">
                                                    <div class="form-group pb-4">
                                                        <select class="form-select" name="course" id="course"
                                                                aria-label="Default select example">
                                                            <option selected> Доступні курси</option>
                                                            {% for course in courses %}
                                                                <option value="{{ course.getId }}">{{ course.getKourseName }}</option>
                                                            {% endfor %}

                                                        </select>
                                                    </div>
                                                    {% for coursesInfo in coursesInfos %}
                                                        {% set instructor = coursesInfo[0].getInstructor %}
                                                        {% set course = coursesInfo[0].getCourses %}
                                                        <div class="form-group pb-4 course_block" id="course_block_{{ course.getId }}"
                                                             style="display: none">
                                                            <h4>{{ course.getKourseName }}</h4>
                                                            <hr>
                                                            <p><strong>Інструктор:</strong> {{ instructor.getFirstname}} {{ instructor.getLastname}}</p>
                                                            <p><strong>Тривалість:</strong> {{ course.getStartTime|date('Y-m-d H:i:s')}} - {{ course.getEndTime|date('Y-m-d H:i:s')}}</p>
                                                            <p>{{ coursesInfo[0].getFirstParagraph }}</p>
                                                            <!-- Button trigger modal -->
                                                            <div class="w-100 d-flex justify-content-center pt-2 pb-4">
                                                                <button type="button" class="btn register_btn mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal_{{ course.getId }}">
                                                                    Переглянути навички які можливо отримати
                                                                </button>
                                                            </div>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal_{{ course.getId }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Навички які можливо отримати на курсі</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                         {% for skill in coursesInfo[0].getSkills %}
                                                                         <p>- {{ skill }}</p>
                                                                         {% endfor %}
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary register_btn" data-bs-dismiss="modal">Закрити</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <p>{{ coursesInfo[0].getEndParagraph }}</p>
                                                        </div>
                                                    {% endfor %}
                                                    <button class="form-control register_btn" type="submit"> Записатися
                                                    </button>
                                                </form>
                                                <div class="alert alert-success" style="display: none"
                                                     role="alert"></div>
                                                <div class="alert alert-danger" style="display: none"
                                                     role="alert"></div>
                                            </div>
                                        {% else %}
                                            <h3 class="mb-5 text-center">Зареєструйтеся або залогіньтеся, щоб
                                                записатия!</h3>
                                            <div class="row w-100">
                                                <a class="text-decoration-none w-100 pb-4"
                                                   href="{{ path('app_login') }}">
                                                    <button class="form-control register_btn " type="submit"> Увійти
                                                    </button>
                                                </a>
                                            </div>
                                        {% endif %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript" src="{{ asset('/js/course_appointment.js') }}"></script>
    {% endblock %}