{% extends 'base.html.twig' %}

     {% block body %}
         <link href="{{ asset('css/homepage.css') }}" rel="stylesheet"/>

         <div class=" homepage_banner position-relative overflow-hidden p-3 p-md-5  text-center ">
             <video autoplay loop muted>
                 <source src="{{ asset('video/home_banner.mp4') }}" type="video/mp4">
             </video>

             <div class="col-md-6 p-lg-5 mx-auto  banner_text">
                 <h1 class="display-3 fw-bold text-white ">Найкращий салон</h1>
                 <h3 class="fw-normal mb-3 text-white">Епіляції манікюру та педікюру</h3>
             </div>
             <div class="product-device shadow-sm d-none d-md-block"></div>
             <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
         </div>
         <section class="py-3 text-center container">
             <div class="row py-lg-5">
                 <div class="col-lg-6 col-md-8 mx-auto">
                     <h1 class="fw-bolder">Про нас </h1>
                     <hr>
                     <p class="lead text-body-secondary">Ваша гармонія - наша майстерність!</p>
                     <hr>
                     <p>
                         Звільніть себе від стресу та повсякденних турбот у нашому салоні епіляції та манікюру! Наші
                         досвідчені майстри створять атмосферу затишку та розслаблення, а ви насолоджуватиметесь
                         найвищим рівнем обслуговування. Відчуйте себе красивою та доглянутою завдяки нашим послугам
                         епіляції та професійному манікюру!
                     </p>
                 </div>
             </div>
             <div class="py-lg-3 text-center">
                 <div class="row align-items-center d-flex justify-content-center">
                         {% for service in services %}
                             <div class="col-4 align-self-center services_col">
                                 <div class="row row-services">
                                         <div class="col prices text-left d-flex flex-column justify-content-center">
                                             <h4 class="services_title text-center">{{ service.getName }}</h4>
                                             <p class="text-center">{{ service.getDescription }}</p>
                                             <h5 class="text-center text-bold">{{ service.getPrice }} грн</h5>
                                         </div>
                                         <div class="col services">
                                             <img class="services_img" src="{{ asset('images/services/'~ service.getImage ) }}">
                                         </div>
                                 </div>
                             </div>
                     {% endfor %}
                 </div>
             </div>

             <div class="container py-2 h-100">
                 <div class="col-lg-6 col-md-8 pb-4 mx-auto w-100">
                     <h1 class="fw-bolder">Наші спеціалісти</h1>
                     <hr>
                 </div>
                 <div class="row d-flex justify-content-center align-items-center h-100">
                     {% for master in masters %}
                     <div class="col pb-4 col-md-9 col-lg-7 col-xl-5">
                             <div class="card">
                                 <div class="card-body p-4">
                                     <div class="d-flex text-black">
                                         <div class="flex-shrink-0 overflow-hidden master-foto-container"
                                              style="background-image:url('{{ asset('images/user-photo/' ~ master.getLogo) }}')">
                                         </div>
                                         <div class="flex-grow-1 ms-3">
                                             <h5 class="mb-1">{{ master.getFirstname }} {{ master.getLastname }}</h5>
                                             <p class="mb-2 pb-1 profession">{{ master.getUserDetails.getProfession }}</p>
                                             <div class="seniority-container d-flex justify-content-center rounded-3 p-2 mb-2">
                                                 <div>
                                                     <p class="small mb-1 text-white">Articles</p>
                                                     <p class="mb-0 text-white">41</p>
                                                 </div>
                                                 <div class="px-3">
                                                     <p class="small mb-1 text-white">Followers</p>
                                                     <p class="mb-0 text-white">976</p>
                                                 </div>
                                                 <div>
                                                     <p class="small mb-1 text-white">Rating</p>
                                                     <p class="mb-0 text-white">8.5</p>
                                                 </div>
                                             </div>
                                             <div class="d-flex pt-1">
                                                 <a type="button" data-mdb-button-init data-mdb-ripple-init
                                                         class="btn master_inst_btn me-1 flex-grow-1"
                                                 href="{{ master.getUserDetails.getInstagram }}">
                                                     <i class="fa fa-instagram" aria-hidden="true"></i>
                                                     Instagram
                                                 </a>
                                                 <a type="button" data-mdb-button-init data-mdb-ripple-init
                                                         class="btn master_appointment flex-grow-1"
                                                 href="{{ path('appointment',{ 'master': master.getId }) }}">
                                                     Записатися
                                                 </a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                     </div>
                     {% endfor %}
                 </div>
             </div>

             <div class=" appointment_banner  row align-items-center d-flex justify-content-center w-100 mt-5">
                 <div class="col mx-auto">
                     <img class="appointment_banner_img" src="{{ asset('images/homepage_banner_girl.png') }}">
                 </div>
                 <div class="col-6 mx-auto master_banner"
                      style=" background-image: url('{{ asset('images/homepage_banner_master_hand.png') }}');">
                     <a href="{{ path('appointment') }}" class="row">
                         <div class="col d-flex justify-content-center">
                             <div class="d-flex justify-content-center">
                                 <button class="btn home_btn">Записатися до нас</button>
                             </div>
                         </div>
                     </a>
                 </div>
                 <div class="col mx-auto">
                     <img class="appointment_banner_img_foot" src="{{ asset('images/homepage_banner_foot.png') }}">
                 </div>
             </div>
             <div class="row py-lg-5">
                 <div class="col mx-auto">

                     <hr>
                     <p class="lead ">Ми використовуємо лише професійну продукцію класу люкс. Якість і довготривалий
                         ефект наших препаратів Ви можете відчути на собі.</p>

                     <div class="slider_container row">
                         <div class="swiper-button-prev col"></div>
                         <!-- Swiper -->
                         <div class="swiper mySwiper ">
                             <div class="swiper-wrapper">
                                 <div class="swiper-slide">
                                     <img src="{{ asset('images/test_logo.png') }}"/>
                                 </div>
                                 <div class="swiper-slide">
                                     <img src="{{ asset('images/test_logo.png') }}"/>
                                 </div>
                                 <div class="swiper-slide">
                                     <img src="{{ asset('images/test_logo.png') }}"/>
                                 </div>
                                 <div class="swiper-slide">
                                     <img src="{{ asset('images/test_logo.png') }}"/>
                                 </div>
                                 <div class="swiper-slide">
                                     <img src="{{ asset('images/test_logo.png') }}"/>
                                 </div>
                                 <div class="swiper-slide">
                                     <img src="{{ asset('images/test_logo.png') }}"/>
                                 </div>
                             </div>

                             <div class="swiper-pagination"></div>
                         </div>
                         <div class="swiper-button-next col"></div>
                     </div>

                 </div>
             </div>
             <div class="row py-lg-2 contact_container">
                 <div class="col">
                     <img class="kyrsu_banner" src="{{ asset('images/kyrsu.jpg') }}"/>
                 </div>
                 <div class="col align-items-center d-flex flex-column justify-content-center">
                     <h3 class="fw-bolder w-100">Бажаєте освоїти нове ремесло?</h3>
                     <div class="kyrsu_text">
                         Запишіться на курси манікюру та станьте професіоналом у цій чудовій сфері! Наші курси нададуть
                         вам всю необхідну базу знань та навичок для успішної кар'єри в манікюрному мистецтві.
                         <p class="divider text-center fw-semibold">Чому варто обрати наші курси?</p>
                         Досвідчені викладачі з глибокими знаннями в галузі манікюру.
                         Практичні заняття з використанням найсучасніших інструментів та матеріалів.
                         Індивідуальний підхід до кожного студента.
                         Сертифікати про успішне завершення курсів, що підтверджують ваші навички перед роботодавцями.
                         <br>
                         <p class="divider"></p>
                         Не втрачайте шанс стати експертом у своєму ділі! Запишіться на наші курси манікюру вже сьогодні
                         та відкрийте для себе світ краси та можливостей.
                     </div>
                     <a class="btn home_btn" href="{{ path('courses') }}">Записатися до нас на курси</a>

                 </div>

             </div>
             <div class="row py-lg-5 contact_container">
                 <div class="col mx-auto">
                     <form class="contact form">
                         <h3 class="fw-bolder w-100">Зв'язатися з нами</h3>
                         <hr>
                         <div class="form-row row">
                             <div class="col pb-3">
                                 <input type="text" class="form-control input-name" placeholder="Ваше ім'я">
                             </div>
                             <div class="col pb-3">
                                 <input type="text" class="form-control input-name" placeholder="Ваше прізвище">
                             </div>
                         </div>
                         <div class="form-row pb-3">
                             <div class="col pb-3">
                                 <input type="email" class="form-control" id="inputEmail4"
                                        placeholder="ваша_пошта@gmail.com">
                             </div>
                             <div class="col pb-3">
                                 <textarea class="form-control" id="validationTextarea"
                                           placeholder="Ваше питання"></textarea>
                             </div>
                         </div>

                         <button type="submit" class="btn contact_btn">Надіслати</button>
                     </form>
                 </div>
                 <div class="col mx-auto contact_banner">
                     <img class="call_us_banner" src="{{ asset('images/call_us_banner.png') }}"/>
                 </div>
             </div>
         </section>




     {% endblock %}


