{% extends 'base.html.twig' %}

{% block body %}
    <link href="{{ asset('css/user_cabinet.css') }}" rel="stylesheet"/>
    <section class="py-3 text-center container">

        <div class="row py-lg-5">
            <div class="col">
                <div class="d-flex d-flex justify-content-center flex-column">
                    {% if user.getLogo %}
                        <div class="user-logo"
                             style='background-image: url("{{ asset('images/user-photo/' ~ user.getLogo) }}")'>
                        </div>
                    {% else %}
                        <img class="user-logo" src="{{ asset('images/user-photo/base_user_logo.png') }}">
                    {% endif %}
                    <h3 class="">Вітаємо, {{ user.getFirstname }} {{ user.getLastname }}</h3>
                    <hr>
                </div>
            </div>
            <div class="col col-md-8 mx-auto">
                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="user-tab nav-link active" id="tab1-tab" data-bs-toggle="tab"
                                data-bs-target="#tab1"
                                type="button" role="tab" aria-controls="tab1" aria-selected="true">Ваші записи
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="user-tab nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2"
                                type="button"
                                role="tab" aria-controls="tab2" aria-selected="false">Налаштування
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="user-tab nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3"
                                type="button"
                                role="tab" aria-controls="tab3" aria-selected="false">Tab 3
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabsContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <h3 class="mt-4">Ваші записи:</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Час запису</th>
                                <th scope="col">Ваш майстер</th>
                                <th scope="col">Статус вашого запису</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for appointment  in userAppointments %}
                                <tr>
                                    <th>{{ appointment.getId }}</th>
                                    <td>{{ appointment.getTime|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ appointment.getEmployer.getFirstname }} {{ appointment.getEmployer.getLastname }}</td>
                                    <th>{{ appointment.getStatus }}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                        <h3 class="mt-4">Налаштування:</h3>
                        <div class="row settings-row">
                            <div class="col">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#changeLogoModal">
                                    Змінити лого
                                </button>
                            </div>
                            <div class="col">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#changePassModal">
                                    Змінити пароль
                                </button>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="changeLogoModal" tabindex="-1"
                             aria-labelledby="changeLogoModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="changeLogoModalLabel">Змінити лого</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="formFile" class="form-label">Введіть нове зображення</label>
                                            <input class="form-control" type="file" id="formFile">
                                            <div id="alert-success" class="alert alert-success" role="alert"
                                                 style="display: none">
                                                Лого успішно збережено!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Закрити
                                        </button>
                                        <button type="button" id="save-logo" class="btn btn-primary">Зберегти</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="changePassModal" tabindex="-1"
                             aria-labelledby="changePassModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="changePassModalLabel">Змінити пароль</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="oldPass"
                                                   placeholder="Введіть старий пароль">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="newPass"
                                                   placeholder="Введіть новий пароль">
                                        </div>
                                        <div id="alert-pass-success" class="alert alert-success" role="alert"
                                             style="display: none">
                                            Новий пароль успішно збережено!
                                        </div>
                                        <div id="alert-pass-danger" class="alert alert-danger" role="alert"
                                             style="display: none">
                                            Неправильно введенний старий пароль!
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Закрити
                                        </button>
                                        <button type="button" id="save-pass" class="btn btn-primary">Зберегти</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                        3
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ asset('js/user_cabinet.js') }}"></script>
{% endblock %}
